body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:478px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1037_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1037 {
  position:absolute;
  left:20px;
  top:17px;
  width:57px;
  height:16px;
}
#u1038 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1039_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:119px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1039 {
  position:absolute;
  left:43px;
  top:57px;
  width:125px;
  height:119px;
  color:#FFFFFF;
}
#u1040 {
  position:absolute;
  left:2px;
  top:52px;
  width:121px;
  word-wrap:break-word;
}
#u1041_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:119px;
}
#u1041 {
  position:absolute;
  left:198px;
  top:57px;
  width:125px;
  height:119px;
  color:#FFFFFF;
}
#u1042 {
  position:absolute;
  left:2px;
  top:52px;
  width:121px;
  word-wrap:break-word;
}
#u1043_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:119px;
}
#u1043 {
  position:absolute;
  left:353px;
  top:57px;
  width:125px;
  height:119px;
  color:#FFFFFF;
}
#u1044 {
  position:absolute;
  left:2px;
  top:52px;
  width:121px;
  word-wrap:break-word;
}
#u1045_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:119px;
}
#u1045 {
  position:absolute;
  left:198px;
  top:215px;
  width:125px;
  height:119px;
  color:#FFFFFF;
}
#u1046 {
  position:absolute;
  left:2px;
  top:52px;
  width:121px;
  word-wrap:break-word;
}
#u1047_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:119px;
}
#u1047 {
  position:absolute;
  left:353px;
  top:215px;
  width:125px;
  height:119px;
  color:#FFFFFF;
}
#u1048 {
  position:absolute;
  left:2px;
  top:52px;
  width:121px;
  word-wrap:break-word;
}
#u1049_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:119px;
}
#u1049 {
  position:absolute;
  left:43px;
  top:215px;
  width:125px;
  height:119px;
  color:#FFFFFF;
}
#u1050 {
  position:absolute;
  left:2px;
  top:52px;
  width:121px;
  word-wrap:break-word;
}
#u1051_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1051 {
  position:absolute;
  left:20px;
  top:362px;
  width:99px;
  height:16px;
}
#u1052 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u1053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:119px;
}
#u1053 {
  position:absolute;
  left:43px;
  top:403px;
  width:125px;
  height:119px;
  color:#FFFFFF;
}
#u1054 {
  position:absolute;
  left:2px;
  top:52px;
  width:121px;
  word-wrap:break-word;
}
#u1055_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:119px;
}
#u1055 {
  position:absolute;
  left:198px;
  top:403px;
  width:125px;
  height:119px;
  color:#FFFFFF;
}
#u1056 {
  position:absolute;
  left:2px;
  top:52px;
  width:121px;
  word-wrap:break-word;
}
#u1057_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:119px;
}
#u1057 {
  position:absolute;
  left:353px;
  top:403px;
  width:125px;
  height:119px;
  color:#FFFFFF;
}
#u1058 {
  position:absolute;
  left:2px;
  top:52px;
  width:121px;
  word-wrap:break-word;
}
#u1059_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:119px;
}
#u1059 {
  position:absolute;
  left:43px;
  top:561px;
  width:125px;
  height:119px;
  color:#FFFFFF;
}
#u1060 {
  position:absolute;
  left:2px;
  top:52px;
  width:121px;
  word-wrap:break-word;
}
#u1061_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:119px;
}
#u1061 {
  position:absolute;
  left:198px;
  top:561px;
  width:125px;
  height:119px;
  color:#FFFFFF;
}
#u1062 {
  position:absolute;
  left:2px;
  top:52px;
  width:121px;
  word-wrap:break-word;
}
#u1063_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1063 {
  position:absolute;
  left:20px;
  top:709px;
  width:57px;
  height:16px;
}
#u1064 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:119px;
}
#u1065 {
  position:absolute;
  left:43px;
  top:752px;
  width:125px;
  height:119px;
  color:#FFFFFF;
}
#u1066 {
  position:absolute;
  left:2px;
  top:52px;
  width:121px;
  word-wrap:break-word;
}
#u1067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:119px;
}
#u1067 {
  position:absolute;
  left:198px;
  top:752px;
  width:125px;
  height:119px;
  color:#FFFFFF;
}
#u1068 {
  position:absolute;
  left:2px;
  top:52px;
  width:121px;
  word-wrap:break-word;
}
#u1069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:119px;
}
#u1069 {
  position:absolute;
  left:353px;
  top:752px;
  width:125px;
  height:119px;
  color:#FFFFFF;
}
#u1070 {
  position:absolute;
  left:2px;
  top:52px;
  width:121px;
  word-wrap:break-word;
}
#u1071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:119px;
}
#u1071 {
  position:absolute;
  left:43px;
  top:916px;
  width:125px;
  height:119px;
  color:#FFFFFF;
}
#u1072 {
  position:absolute;
  left:2px;
  top:52px;
  width:121px;
  word-wrap:break-word;
}
#u1073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:119px;
}
#u1073 {
  position:absolute;
  left:198px;
  top:916px;
  width:125px;
  height:119px;
  color:#FFFFFF;
}
#u1074 {
  position:absolute;
  left:2px;
  top:52px;
  width:121px;
  word-wrap:break-word;
}
